<footer class="flex footer bg-gray-900">
    <div class="container mx-auto px-6">
        <div class="sm:flex sm:mt-6 mb-6">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-center space-y-6 sm:space-x-6 sm:space-y-0  text-xs sm:text-base">
                <div class="flex-1 flex-col">
                    <div class="font-bold text-white uppercase mb-1 font-grimtown">Cap sur Grimtown, c'est quoi ?</div>
                    <div class="text-gray-300 font-raleway">
                        Cap sur Grimtown est une association d'organisateurs d'événements, principalement axés sur Minecraft.
                    </div>

                </div>
                <div class="flex-1 flex-col">
                    <div class="font-bold text-white uppercase mb-1 font-grimtown">Nos événements</div>
                    <div class="text-gray-300 font-raleway py-1">
                        Retrouvez tous nos événements passés et futurs sur notre page dédiée à nos <a class="font-bold" href="{{ path('index') }}">événements</a>.
                    </div>
                </div>
                <div class="flex-1 flex-col">
                    <div class="font-bold text-white uppercase mb-1 font-grimtown">Nos réseaux sociaux</div>
                    <div class="text-gray-300 font-raleway py-1">
                        Rejoignez-nous dès maintenant sur notre <a class="font-bold" href="https://discord.gg/kTUdm8X">serveur Discord</a>, place principale de notre communauté.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>