{% extends 'layout.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
    <div class="flex-col flex-grow h-full w-full">
        {% include 'shop/navbar.html.twig' %}
    </div>
{% endblock %}