{% extends 'layout.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
    <div class="flex flex-grow h-full w-full">
        <nav class="bg-white shadow-lg h-16 w-full">
            <div class="max-w-7xl mx-auto px-2">
                <div class="flex justify-between h-16">
                    <div class="flex-1 flex items-center items-stretch w-full justify-between">
                        <div class="flex w-1/2 sm:w-5/12 h-full justify-between overflow-x-auto mx-2">
                            <a href="" class="flex items-center text-gray-900 px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium border-b-2 hover:border-yellow-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 sm:h-6 w-auto mr-2" fill="none" stroke="currentColor" viewBox="0 0 576 512"><path fill="currentColor" d="M332.37 275.41l-19.75-40.05c-9.44-18.81-39.91-18.86-49.28.08l-19.72 39.97-44.06 6.44c-10.44 1.5-18.94 8.67-22.22 18.7-3.25 10.02-.59 20.83 6.97 28.17l31.91 31.09-7.56 43.92c-3.91 22.74 20.25 39.5 39.87 28.97L288 411.97l39.44 20.72c19.35 10.13 43.87-5.88 39.91-28.95l-7.56-43.92 31.91-31.09c7.56-7.34 10.22-18.16 6.97-28.17-3.28-10.03-11.78-17.19-22.19-18.7l-44.11-6.45zm-6.96 73.25l8.84 51.45-46.25-24.3-46.34 24.91 8.94-52.06-37.41-36.47 51.69-7.53L288 257.78l23.12 46.88 51.69 7.53-37.4 36.47zM559.97 0H402.12c-11.24 0-21.66 5.9-27.44 15.54L288 160 201.32 15.54A31.997 31.997 0 0 0 173.88 0H16.03C3.08 0-4.5 14.57 2.92 25.18l144.12 205.88C125.14 260.4 112 296.65 112 336c0 97.05 78.95 176 176 176s176-78.95 176-176c0-39.35-13.14-75.6-35.04-104.94L573.08 25.18C580.5 14.57 572.92 0 559.97 0zM46.76 32h127.12l78.93 131.55c-31.95 6.51-60.65 21.84-83.78 43.13L46.76 32zM432 336c0 79.53-64.47 144-144 144s-144-64.47-144-144 64.47-144 144-144 144 64.47 144 144zm-25.03-129.32c-23.13-21.29-51.83-36.62-83.78-43.13L402.12 32h127.12L406.97 206.68z" class=""></path></svg>
                                <div class="lg:block hidden">
                                    Rangs
                                </div>
                            </a>
                            <a href="" class="flex items-center text-gray-900 px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium border-b-2 hover:border-yellow-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 sm:h-6 w-auto mr-2" fill="none" stroke="currentColor" viewBox="0 0 576 512"><path fill="currentColor" d="M332.37 275.41l-19.75-40.05c-9.44-18.81-39.91-18.86-49.28.08l-19.72 39.97-44.06 6.44c-10.44 1.5-18.94 8.67-22.22 18.7-3.25 10.02-.59 20.83 6.97 28.17l31.91 31.09-7.56 43.92c-3.91 22.74 20.25 39.5 39.87 28.97L288 411.97l39.44 20.72c19.35 10.13 43.87-5.88 39.91-28.95l-7.56-43.92 31.91-31.09c7.56-7.34 10.22-18.16 6.97-28.17-3.28-10.03-11.78-17.19-22.19-18.7l-44.11-6.45zm-6.96 73.25l8.84 51.45-46.25-24.3-46.34 24.91 8.94-52.06-37.41-36.47 51.69-7.53L288 257.78l23.12 46.88 51.69 7.53-37.4 36.47zM559.97 0H402.12c-11.24 0-21.66 5.9-27.44 15.54L288 160 201.32 15.54A31.997 31.997 0 0 0 173.88 0H16.03C3.08 0-4.5 14.57 2.92 25.18l144.12 205.88C125.14 260.4 112 296.65 112 336c0 97.05 78.95 176 176 176s176-78.95 176-176c0-39.35-13.14-75.6-35.04-104.94L573.08 25.18C580.5 14.57 572.92 0 559.97 0zM46.76 32h127.12l78.93 131.55c-31.95 6.51-60.65 21.84-83.78 43.13L46.76 32zM432 336c0 79.53-64.47 144-144 144s-144-64.47-144-144 64.47-144 144-144 144 64.47 144 144zm-25.03-129.32c-23.13-21.29-51.83-36.62-83.78-43.13L402.12 32h127.12L406.97 206.68z" class=""></path></svg>
                                <div class="lg:block hidden">
                                    Rangs
                                </div>
                            </a>
                            <a href="" class="flex items-center text-gray-900 px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium border-b-2 hover:border-yellow-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 sm:h-6 w-auto mr-2" fill="none" stroke="currentColor" viewBox="0 0 576 512"><path fill="currentColor" d="M332.37 275.41l-19.75-40.05c-9.44-18.81-39.91-18.86-49.28.08l-19.72 39.97-44.06 6.44c-10.44 1.5-18.94 8.67-22.22 18.7-3.25 10.02-.59 20.83 6.97 28.17l31.91 31.09-7.56 43.92c-3.91 22.74 20.25 39.5 39.87 28.97L288 411.97l39.44 20.72c19.35 10.13 43.87-5.88 39.91-28.95l-7.56-43.92 31.91-31.09c7.56-7.34 10.22-18.16 6.97-28.17-3.28-10.03-11.78-17.19-22.19-18.7l-44.11-6.45zm-6.96 73.25l8.84 51.45-46.25-24.3-46.34 24.91 8.94-52.06-37.41-36.47 51.69-7.53L288 257.78l23.12 46.88 51.69 7.53-37.4 36.47zM559.97 0H402.12c-11.24 0-21.66 5.9-27.44 15.54L288 160 201.32 15.54A31.997 31.997 0 0 0 173.88 0H16.03C3.08 0-4.5 14.57 2.92 25.18l144.12 205.88C125.14 260.4 112 296.65 112 336c0 97.05 78.95 176 176 176s176-78.95 176-176c0-39.35-13.14-75.6-35.04-104.94L573.08 25.18C580.5 14.57 572.92 0 559.97 0zM46.76 32h127.12l78.93 131.55c-31.95 6.51-60.65 21.84-83.78 43.13L46.76 32zM432 336c0 79.53-64.47 144-144 144s-144-64.47-144-144 64.47-144 144-144 144 64.47 144 144zm-25.03-129.32c-23.13-21.29-51.83-36.62-83.78-43.13L402.12 32h127.12L406.97 206.68z" class=""></path></svg>
                                <div class="lg:block hidden">
                                    Rangs
                                </div>
                            </a>
                        </div>
                        <div class="flex w-1/2 sm:w-5/12 h-full justify-between overflow-x-auto mx-2">
                            <a href="" class="flex items-center text-gray-900 px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium border-b-2 hover:border-yellow-500">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 sm:h-6 w-auto mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <div class="lg:block hidden">
                                    Recharger mon solde (
                                </div>
                                0,00 €
                                <div class="lg:block hidden">)</div>
                            </a>
                            <a href="" class="flex items-center text-white bg-yellow-600 rounded-lg px-3 py-1 my-3 lg:mx-4 text-sm font-grimtown font-medium text-center transition duration-200 hover:bg-yellow-400 transform hover:scale-110">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 sm:h-6 w-auto mr-2" fill="none" stroke="currentColor" viewBox="0 0 576 512"><path fill="currentColor" d="M564 192h-72.902L362.286 40.457c-8.583-10.099-23.729-11.327-33.83-2.743-10.099 8.584-11.327 23.731-2.742 33.83L428.102 192H147.899L250.287 71.543c8.584-10.099 7.356-25.246-2.743-33.83s-25.246-7.355-33.83 2.743L84.901 192H12c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h18.667l27.584 198.603C61.546 462.334 81.836 480 105.794 480h364.412c23.958 0 44.248-17.666 47.544-41.397L545.333 240H564c6.627 0 12-5.373 12-12v-24c0-6.627-5.373-12-12-12zm-93.794 240H105.794L79.127 240h417.745l-26.666 192zM312 296v80c0 13.255-10.745 24-24 24s-24-10.745-24-24v-80c0-13.255 10.745-24 24-24s24 10.745 24 24zm112 0v80c0 13.255-10.745 24-24 24s-24-10.745-24-24v-80c0-13.255 10.745-24 24-24s24 10.745 24 24zm-224 0v80c0 13.255-10.745 24-24 24s-24-10.745-24-24v-80c0-13.255 10.745-24 24-24s24 10.745 24 24z" class=""></path></svg>
                                <div class="w-full">0,00 €</div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}