{% extends 'layout.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}
    <div class="flex-col h-full w-full">
        {% include 'shop/navbar.html.twig' with { requestCategory: null } %}
        <div class="flex px-60 w-full">
            <div class="flex w-full">
                <div class="flex w-3/4 bg-yellow-400 h-full">

                </div>
            </div>
        </div>
    </div>
{% endblock %}