<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" href="/favicon.ico">
        <link rel="manifest" href="/site.webmanifest">
        <title>{% block title %}{% endblock %} | Grimtown</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
    <div class="flex flex-col h-screen">
        {% include 'elements/navbar.html.twig' %}
        {% block content %}
        {% endblock %}
        {% include 'elements/footer.html.twig' %}
    </div>
    </body>
    {{ encore_entry_script_tags('app') }}
    <script>
        function toggleUserDropdown() {
            const userDropdown = document.getElementById('userDropdown');
            if (userDropdown.classList.contains('hidden'))
                userDropdown.classList.remove('hidden');
            else
                userDropdown.classList.add('hidden');
        }

        function toggleMobileDropdown() {
            const mobileDropdown = document.getElementById('mobileDropdown');
            if (mobileDropdown.classList.contains('hidden'))
                mobileDropdown.classList.remove('hidden');
            else
                mobileDropdown.classList.add('hidden');
        }
    </script>
    <script>
        window.onload = () => {
            {% block javascript %}
            {% endblock %}
            {% for message in app.flashes('success') %}
            window.Swal.fire('{{ message[0] }}', '{{ message[1] }}', 'success');
            {% endfor %}
        }
    </script>
</html>