{% extends 'layout.html.twig' %}

{% block title %}Événements{% endblock %}

{% block content %}
    <div class="flex-grow bg-no-repeat bg-center bg-cover background-main justify-center content-center">
    </div>
{% endblock %}